<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de perguntas</title>
</head>
<body>
    <h1>Quiz de perguntas</h1>
    <hr>
    <h3>Lista de perguntas</h3>

    <p>Nome: <%= nome %></p>
    <p>Linguagem favorita: <%= lang %> </p>
    <p>Empresa: <%= empresa %></p>

    <% if(menssagem == true){%>
        <h3> isso é uma menssagem de erro</h3>
    <%} else { %>    
        <h3> Nenhum erro detectado </h3>
    <% } %>
    
    <% produtos.forEach(function(produto){ %>
        <hr>
        <h3><%= produto.nome %></h3>
        <h4><%= produto.preco %></h4>
    <% }) %>

</body>
</html>